body {
  background-color: var(--mc-navy);
  color: var(--mc-light-slate);
}

*.para {
  max-width: 540px;
  color: var(--mc-slate);
  font-family: var(--mc-font-sans);
  font-size: var(--mc-fz-xl);
  line-height: 1.3;
  padding-top: var(--mc-fz-md);
}

*.lined-heading {
  display: flex;
  align-items: center;
  position: relative;
  margin: 0px 0px 40px;
  padding-top: 40px;
  width: 100%;
  font-size: clamp(26px, 5vw, var(--mc-fz-heading));
  white-space: nowrap;
  font-weight: 600;
  color: var(--mc-lightest-slate);
  line-height: 1.1;
}

*.lined-heading::after {
  content: "";
  display: block;
  position: relative;
  top: 5px;
  width: 200px;
  height: 1px;
  margin-left: 20px;
  background-color: var(--mc-lightest-navy);
  font-weight: 600;
  color: var(--mc-lightest-slate);
  line-height: 1.1;
}

*.lined-heading span {
  position: relative;
  top: 5px;
  margin-right: 10px;
  color: var(--mc-green);
  font-family: var(--mc-font-mono);
  font-size: clamp(var(--mc-fz-md), 3vw, var(--mc-fz-xl));
  font-weight: 400;
}

*.x-main-padding {
  padding-left: var(--mc-section-px-q-min);
  padding-right: var(--mc-section-px-q-min);
}

@media (min-width: 480px) {
  *.x-main-padding {
    padding-left: var(--mc-section-px-q-min-480);
    padding-right: var(--mc-section-px-q-min-480);
  }
}

@media (min-width: 768px) {
  *.x-main-padding {
    padding-left: var(--mc-section-px-q-min-768);
    padding-right: var(--mc-section-px-q-min-768);
  }
}

@media (min-width: 1080px) {
  *.x-main-padding {
    padding-left: var(--mc-section-px-q-min-1080);
    padding-right: var(--mc-section-px-q-min-1080);
  }
}
